[defaults]

nocows = True

collections_path = ./

roles_path = ./galaxy_roles:./roles

host_key_checking = false

ask_vault_pass = false

interpreter_python = auto_silent
[ssh_connection]
scp_if_ssh=True
